* {
  box-sizing: border-box;
}
#root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
  justify-items: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100svw;
  height: 100svh;
}
.loading-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
}
h2 {
  font-family: Arial;
  margin: 0;
  padding: 0;
}
